<div class="container">
    <h1 class="featurette-heading m-3">FLORENCIA QUILODRAN | FULL STACK DEVELOPER</h1>   
    <div class="row">
            <img class="img-fluid rounded-circle col-2 m-3 p-3" src="../../../assets/F.jpg" alt="fotografia de perfil" id="fotoperfil"> 
                <p class="col-8 lead m-1 p-1">¡Hola! ¿Cómo estás? , Soy Flor y soy Web Developer Full Stack.
                    Trabajo con el desarrollo de la web desde cero; maquetando primero la idea y luego la bajo al código. 
                    Utilizo html5, css3, javascript, typescript, bootstrap, react js, angular, sql, mysql, java, python.
                    Esta web esta desarrollada en base a todo lo aprendido en Argentina Programa donde a través de un 
                    extenso material, nos capacitamos en casi todas estas herramientas mencionadas y algunas otras mas. 
                    El programa nos ha enseñado a manipular tanto el Front End como el Back End.
                </p>
    </div>
</div>

