<body>

  <div class="container">
    <h1 class="row">Experiencia Laboral</h1>

  <section id="menu1">
    <a href="#menu1">Front End Developer Freelance | Año 2021 - Presente</a>
    <p>Trabajo realizado para una web de Astrología y Flores de Bach.
      Una emprendedora que necesita una web para mostrar un poco lo que realiza.
    </p>
  </section>

  <section id="menu2">
    <a href="#menu2">Data Analyst Freelance | Año 2021 - Presente</a>
    <p>Trabajo freelance para diferentes problemáticas que se presentan en diversos clientes.
      Utilizo Tableu, Excell y MySql.
    </p>
  </section>

  <section id="menu3">
    <a href="#menu3">Fotógrafa Profesional | Año 2010 - Presente</a>
    <p>Producciones fotográficas en todos sus ámbitos, sea book de quince, boda, bebé.
      Manejo de photoshop, dng convertern, archivos raw.
    </p>
  </section>


  </div>
</body>