<body>  
    <div class="container">
      <h1 class="row">Estudios Realizados</h1>
      <section id="top1">
        <a href="#top1">CODER HOUSE</a>
        <div>
            <h5>CARRERA FRONT END DEVELOPER</h5>
            <p>HTML5 | CSS3 | Javascript | ReactJS | Bootstrap | Sass</p>
        </div>
      </section>

      <section id="top2">
        <a href="#top2">ARGENTINA PROGRAMA</a>
        <div> <h5>CURSO FULL STACK DEVELOPER</h5>
        <p>HTML5 | CSS3 | Javascript | Typescript | Angular | Bootstrap | MySql | NetBeans</p>
            
            
        </div>
      </section>
    
      <section id="top3">
        <a href="#top3">ORACLE</a>
        <div><h6>CURSO FRONT END DEVELOPER</h6>
            <p>HTML5 | CSS3 | Javascript</p>
        </div>
      </section>
    </div>
    </body>



