<div class="container">
<div class="row">
<div class="col-md m-5">
    <circle-progress
    [percent]="95"
    [radius]="50"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'15px'"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#eb8334'"
    [innerStrokeColor]="'#ebb434'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>
<div class="col-md m-5">
    <circle-progress
    [percent]="80"
    [radius]="50"
    [showUnits]="false"
    [title]="'CSS'"
    [titleFontSize]="'15px'"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#2d26f0'"
    [innerStrokeColor]="'#26c8f0'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>
<div class="col-md m-5">
    <circle-progress
    [percent]="65"
    [radius]="50"
    [showUnits]="false"
    [title]="'Javascript'"
    [titleFontSize]="'13px'"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#f2ef1b'"
    [innerStrokeColor]="'#f5d20c'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>
</div>
</div>