
#hys {
    color: aliceblue;
}
#html {
    position: absolute;
    left: 30%;
    top: 20%;
}
#css {
    position: absolute;
    left: 50%;
    top: 20%
}
#js {
    position: absolute;
    left: 70%;
    top: 20%
}
#git {
    position: absolute;
    left: 50%;
    top: 45%
}
#sql {
    position: absolute;
    left: 30%;
    top: 45%
}
#ts {
    position: absolute;
    left: 70%;
    top: 45%
}